<!DOCTYPE html>
<html>

<head>
  <title>Lisper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>Welcome to the Country-Capital Game!</h1>
      
    <form action="/submit" method="POST">
      <input class="button-74" type="submit" value="Generate Country">
    </form>

    <% if(locals.content){ %>
      <p>Press again to skip</p>
<div class="card">
        <h2><%= locals.content[0].name.common %></h2>
       
      </div>
      <img src= <%= locals.content[0].flags.svg %> alt="flag">
      <div class="card2">
        <h2>Do you know the capital?&nbsp&nbsp&nbsp</h2>
        <form action="/submitCapital" method="POST">
          <input type="text" name="capital">
          <input type="submit" value="OK">
        </form>
      </div>
      <div>
        <h2 class="capitalAnswer"><%= locals.content[0].capital[0] %></h2>
        <button class="checkAnswer" onclick="myFunction()">CHECK ANSWER</button>
      <script>
          function myFunction(){
          document.querySelector(".capitalAnswer").classList.add("visible");
        }
       </script>
      </div>    
      <% } %>
      <% if(locals.game){%>
       <% if (game.submitted===game.database){ %>
        <h1>CORRECT!</h1>
        <% } else { %>
          <div class="card">
            <h2><%= game.name %></h2>
           
          </div>
          <img src= <%= game.flag %> alt="flag">
          <div class="card2">
            <h2>Do you know the capital?&nbsp&nbsp&nbsp</h2>
            <form action="/submitCapital" method="POST">
              <input type="text" name="capital">
              <input type="submit" value="OK">
            </form>
          </div>      
        <h1>TRY AGAIN</h1>
        <% }} %>
              
</body>

</html>


